<template>
  <div class="game" ref="game" v-on:click="clickOnBackground">
    <span class="circle"
          v-bind:style="circleStyle"
          v-on:click.stop.exact="clickOnCircle"  
          v-on:click.stop.ctrl="clickOnBonus"
      ></span>
  </div>
</template>

<script>
export default {
  name: 'Game',
  data: function() {
    return {
      clicks: 0,
      bonusActive: false,
      circleStyle: {
        height: '50px',
        width: '50px',
        top: '100px',
        left: '100px'
      }
    };
  },
  created: function () {
    document.onkeydown = this.start;
  },
  methods: {
    start: function(ev) {
      if (ev.code === 'Space') {
        // eslint-disable-next-line 
        console.log('start');
      }
    },
    clickOnBackground: function() {
      this.clicks--;
      this.updateCircle();

      // eslint-disable-next-line
      console.log(`raté! (${this.clicks})`);
    },
    clickOnCircle: function() {
      this.clicks++;
      this.updateCircle();

      // eslint-disable-next-line
      console.log(`click! (${this.clicks})`);
    },
    clickOnBonus : function() {
      this.clicks += 2;
      this.updateCircle();

      // eslint-disable-next-line
      console.log('bonus!');
    },
    updateCircle: function() {
      let gameElement = this.$refs.game;

      // mise à jour de la taille
      let minSize = 20;
      let maxSize = 120;
      let size = Math.floor(Math.random() * (maxSize - minSize)) + minSize;
      this.circleStyle.height = `${size}px`;
      this.circleStyle.width = `${size}px`;

      // mise à jour de la position
      let maxTop =  parseInt(window.getComputedStyle(gameElement).height, 10) - size;
      let maxLeft = parseInt(window.getComputedStyle(gameElement).width, 10) - size;
      let top = Math.floor(Math.random() * maxTop);
      let left = Math.floor(Math.random() * maxLeft);
      this.circleStyle.left = `${left}px`;
      this.circleStyle.top = `${top}px`;
    }
  }
}
</script>

<style scoped>
.game {
  width: 100%;
  height: 50%;
  display: block;
  background: darkslategrey;
  position: relative;
}

.circle {
  display: block;
  background: gold;
  border-radius: 9999px;
  position: absolute;
  margin: 0;
}
</style>
