<template>
  <div>
    <span v-bind:class="{ hide: !player, titi: player }" 
          v-html="welcomeMessage" ></span>
    <form v-bind:class="{ hide: player }"
          v-on:submit.prevent="setPlayer" 
          class="form-inline">
      <div class="form-group">
        <input ref="player-name" autofocus name="player" type="text" placeholder="Entrez votre nom de joueur"/>
      </div>
      <button type="submit" class="btn btn-primary">Jouer</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Player', 
  data: function() {
    return {
      player: "",
      welcomeMessage: '',
      playerClass: 'show-form'
    }
  },
  updated: function() { // nemarche pas :)
     // eslint-disable-next-line
    console.log("updated !");
    this.playerClass = this.player ? 'show-message' : 'show-form';
    this.welcomeMessage = this.player ? `
      <span class="welcome"><b>Hello</b> ${this.player} !</span>` : 'Pas de joueur';
  },
  methods: {
    setPlayer: function() {
      let playerName = this.$refs['player-name'].value;
      if (!playerName) {
        alert('Merci de renseigner votre nom !');
        return;
      }
      this.player = playerName;
      // eslint-disable-next-line
      console.log(playerName);
    }
  }
}
</script>

<style scoped>
.hide {
  display: none;
}

.titi {
  color: red;
}
</style>
