<template>
  <div id="app">
    <Game/>
    <Player/>
    <Score/>
  </div>
</template>

<script>
import Game from './components/Game.vue'
import Score from './components/Score.vue'
import Player from './components/Player.vue'

export default {
  name: 'app',
  components: {
    Game,
    Score,
    Player
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 1000px;
  display: block;
}
</style>
